<div class="cards-container">
    <% @entries.each do |day, entries| %>
    <h2>Entries for <%= day %></h2>
    <div class="card border-0 m-5" style="width: 18rem;">
        
    </div>
    <% end %>
  </div>