.diary-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.sub-header {
    width: 100%;
    background-image: -webkit-linear-gradient(left,var(--base),var(--baseDark), var(--base));
}

.summary {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
    max-width: 1400px;
    margin: auto;
}

.meal-summary {
    display: flex;
    flex-flow: column;
    padding: 1rem;
    text-align: center;
}

.meal-summary-body {
    width: 100%;
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 1rem;
}

.meal-summary-section {
    padding: 1rem;
}

.meal-container {
    background-color: white;
    border-radius: .5rem;
    width: 100%;
    margin: 0 auto;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    overflow: hidden;
    margin-bottom: 3rem;
}

span {
    font-size: 1rem;
}

.food-container {
    background-color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: left;
}

h2.display-6 {
    font-weight: bold;
    margin: 1rem;
}

.sub-summary {
    margin: 1rem;
}

.summary-container {
    background-color: white;
    color: var(--fontBlack);
}

@media(max-width: 400px) {
    .summary {
        justify-content: space-evenly;
    }

    .sub-summary {
        margin: 1rem;
        min-width: none;
    }
}

@media(min-width: 500px) {
    .list-group strong {
        margin-left: 1rem;
        min-width: 50px;
    }
}

@media(min-width: 1200px) {
    .sub-summary {
        min-width: 200px;
    }

    .entries-container {
        flex-flow: row;
    }
}


h1 {
    color: var(--grey);
    text-align: center;
}

.entries-header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 2vw auto;
}

.entries-header a {
    margin: auto;
}

.meal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--base);
}

svg {
    transition: all .1s ease-in-out;
}

svg:hover {
    transform: scale(1.1);
    transition: all .1s ease-in-out;
}

.entries-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 1rem;
    max-width: 1400px;
}

.cards-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.meal-links {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.meal-links a {
    text-align: center;
    padding: 1rem;
    flex-basis: 33.3%;
    text-decoration: none;
}

.card-footer {
    margin-top: auto;
}

a.delete {
    color: var(--red);
}

a.delete svg {
    fill: var(--red);
}

.nav-buttons {
    max-width: 900px;
    margin: 1vw auto;
    display: flex;
    flex-flow: row nowrap;
}

.nav-buttons h1 {
    margin: auto;
    text-align: center;
}

.nav-buttons a {
    padding: 0 1rem;
    margin: auto;
    transition: all .1s ease-in-out;
}

.nav-buttons a:hover {
    transform: scale(1.2);
    transition: all .1s ease-in-out;
}

.list-group {
    text-align: left;
}

.meal-container h5 a {
    text-decoration: none;
}

.meal-container h5 a:hover {
    text-decoration: underline;
}

.food-header {
    display: flex;
    justify-content: space-between;
}

.food-header a {
    padding: 1rem;
    flex-basis: 33.3%;
}

.food-header.display-6, .meal-summary-header.display-6 {
    font-size: 1.8rem;
}

.list-group strong {
    margin-left: 1rem;
    display: inline-block;
    box-sizing: content-box;
}

strong.display-6 {
    width: 100%;
}